body{
	background: white;
	margin:10px;
}
h1{

	color: black;
	text-align: center;
	margin-bottom: 90px;

}
div{
	padding: 30px;
	width: 24%;
	color: black;
	background-color:gray;
	border: 2px solid black;
	float: left;
	margin-bottom:50px;
	margin-right:2%;
	position:relative;
}

#box1{
    position:absolute;
    top:0;
    right:0;
    padding:5px ;
    background-color: yellow;
    border:1px solid pink;
    width:100px;
    text-align:center;

}
#box2{
    position:absolute;
    top:0;
    right:0;
    padding:5px ;
    background-color: yellow;
    border:1px solid pink;
    width:100px;
    text-align:center;

}#box3{
    position:absolute;
    top:0;
    right:0;
    padding:5px ;
    background-color: yellow;
    border:1px solid pink;
    width: 100px;
    text-align:center;

}

@media(min-width:992px){
	div{
		width:20%;
		margin-left: 2%;
	}
	#no1{
		margin-left: 9%;
	}

}


@media(768px <= width <= 991.99px){
    #no3{
    	width:83%;

    }
    #no2{
    	width:35%;
    }
    #no1{
    	width:35%;
    }
    div{
    	margin-left:3%;
    	margin-right: 2%;
    }

}
@media(max-width:768px){
	div{
		width:85%;
		margin-right: 7%;
		margin-left:10%;
	}
}